{% extends 'eaglesbrandapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Blog
{% endblock %}

{% block content %}
    <main>
        <!--? Hero Start -->
        <div class="slider-area5">
            <div class="slider-height2 hero-overly2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2 style="color: white; font-size: 70px; font-weight: 800;">Blog</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--================Blog Area =================-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                   
                    <div class="col-lg-7 mb-5 mb-lg-0">
                        
                        <div class="blog_left_sidebar">
                            
                            <article class="blog_item">
                                {% if person_page_obj %}
                                {% for e in person_page_obj %}
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="{{ e.img_url }}" alt=""
                                    style="min-height:300px; max-height:300px;">
                                    <div class="blog_item_date">
                                        <h3>{{ e.created.day }}</h3>
                                        <p>{{ e.current_month }}</p>
                                    </div>
                                </div>

                                <div class="blog_details">
                                    <a class="d-inline-block" href="{%url 'eaglesbrandapp:blog_detail' e.id %}">
                                        <h2>{{ e.pst_title}}</h2>
                                    </a>
                                    <p> {{ e.content|safe|truncatewords:30| slice:":400"  }}</p>
                                    <ul class="blog-info-link">
                                        <li><a href="#"><i class="fa fa-user"></i>Posted By:</a></li>
                                        <li><a href="#"><i></i>{{ e.user }}</a></li>
                                    </ul>
                                </div>
                                {% endfor %}
                            {% endif %}
                            </article>
                            
                            
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    {% if person_page_obj.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ person_page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if person_page_obj %}
                                    <li class="page-item">
                                        <a href="#" class="page-link">{{ person_page_obj.number}}</a>
                                    </li>
                                    {% endif %}
                                   
                                    {% if person_page_obj.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ person_page_obj.next_page_number }}" class="page-link" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                       
                    </div>
                    {% include 'eaglesbrandapp/blog_search.html' %}
                </div>
               
            </div>
        </section>
        <!--================Blog Area =================-->
    </main>
   {% endblock %}