{% extends 'eaglesbrandapp/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Home
{% endblock %}

{% block content %}
<div class="slider-area9">
    <div class="slider-height2 hero-overly2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2 style="color: white; font-size: 50px; font-weight: 800;" >Our Projects</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="support-company-area pt-100 pb-100 section-bg fix" data-background="{% static 'eaglesbrandapp/assets/img/gallery/ffg.jpg' %}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="support-location-img">
                    <img src="{% static 'eaglesbrandapp/assets/img/gallery/about.png' %}" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="right-caption">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 mb-50">
                       
                        <h2>Our Projects</h2>
                    </div>
                    <div class="support-caption">
                        <p class="pera-top">Mollit anim laborum duis adseu dolor iuyn voluptcate velit ess cillum dolore egru lofrre dsu quality mollit anim laborumuis au dolor in voluptate velit cillu.</p>
                        <p class="mb-65">Mollit anim laborum.Dvcuis aute serunt  iruxvfg dhjkolohr indd re voluptate velit esscillumlore eu quife nrulla parihatur. Excghcepteur sfwsignjnt occa cupidatat non aute iruxvfg dhjinulpadeserunt moll.</p>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br><br>
<div class="services-area section-padding3">
    <div class="container">
        <div class="row">
            <div class="cl-xl-7 col-lg-8 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle mb-70">
                    <span>Our Projects</span>
                    <h2>Projects</h2>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="single-services mb-100">
                    <div class="services-img">
                        <img src="{% static 'eaglesbrandapp/assets/img/gallery/kk.jpg' %}" alt="">
                        </div>
                        <div class="services-caption">
                        <span>Strategy planing</span>
                        <p><a href="#">Within the construction industry as their overdraft</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="single-services mb-100">
                    <div class="services-img">
                        <img src="{% static 'eaglesbrandapp/assets/img/gallery/services2.png' %}" alt="">
                        </div>
                        <div class="services-caption">
                        <span>Strategy planing</span>
                        <p><a href="#">Within the construction industry as their overdraft</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="single-services mb-100">
                    <div class="services-img">
                        <img src="{% static 'eaglesbrandapp/assets/img/gallery/zz.jpg' %}" alt="">
                        </div>
                        <div class="services-caption">
                        <span>Strategy planing</span>
                        <p><a href="#">Within the construction industry as their overdraft</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="single-services mb-100">
                    <div class="services-img">
                        <img src="{% static 'eaglesbrandapp/assets/img/gallery/gg.jpg' %}" alt="">
                        </div>
                        <div class="services-caption">
                        <span>Strategy planing</span>
                        <p><a href="#">Within the construction industry as their overdraft</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'eaglesbrandapp/partners.html' %}
</main>
{% endblock %}